.Khadra-effect::after,
.Khadra-effect::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 25px;
  border-style: solid;
  transition: transform 0.2s ease-in;
}
.Khadra-effect::before {
  /* e67e22 */
  border-color: wheat;
  border-width: 0px 0.6rem;
  transform: scale3d(1, 0, 1);
  width: 100%;
  height: 100%;
}
.Khadra-effect::after {
  /* e98b38 */
  border-color: wheat;
  border-width: 0.3rem 0px;
  transform: scale3d(0, 1, 1);
  width: 108%;
  height: 100%;
  transition-delay: 0.5s;
}

.Khadra-effect:hover::before {
  transform: scale3d(1, 1, 1);
  transform: translate(-50%, -50%);
}
.Khadra-effect:hover:after {
  transform: scale3d(2, 2, 2);
  transform: translate(-50%, -50%);
}
.Khadra-effect:active::before,
.Khadra-effect:active:after {
  transform: scale3d(2, 2, 2);
  transform: translate(-50%, -50%);
  border-color: #e98b38;
  transition: transform 0s ease;
}
