/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonials-container {
    padding: 6.4rem 3.2rem;
  }
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .testimonial-4 {
    grid-column: 2;
    grid-row: 2;
  }
  .testimonial-5 {
    grid-column: 1;
    grid-row: 3;
  }
  .testimonial-8 {
    grid-column: 2;
    grid-row: 4;
  }
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .section-testimonials {
    grid-template-columns: 45fr 45fr;
  }

  .testimonials-container {
    padding: 2.4rem 3.2rem;
  }
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .testimonial-4 {
    grid-column: 1;
  }
  .testimonial-8 {
    grid-column: 1;
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .featured-logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .step-img-box img {
    width: 30%;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .testimonial-4 {
    grid-column: 2;
    grid-row: 1;
  }
  .testimonial-5 {
    grid-column: 1;
    grid-row: 2;
  }
  .testimonial-8 {
    grid-column: 2;
    grid-row: 2;
  }
  .gallery-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}
@media (max-width: 50.25em) {
  .add-margin-top {
    margin-bottom: 1.8rem;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .add-margin-top {
    margin-bottom: 0rem;
  }

  .grid--3-columns,
  .grid--4-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .diet-list {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 0;
  }
  .diet-list .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
  .diet-list .list-item {
    gap: 0.2rem;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-column,
  .account-column {
    grid-column: span 3;
  }

  .company-column,
  .resources-column,
  .contact-column {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-columns,
  .grid--3-columns,
  .grid--4-columns {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-section {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .featured-logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .testimonial-4 {
    grid-column: 1;
    grid-row: 2;
  }
  .testimonial-5 {
    grid-column: 1;
    grid-row: 3;
  }
  .testimonial-8 {
    grid-column: 1;
    grid-row: 4;
  }

  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-image {
    height: 32rem;
    grid-row: 1;
  }
}
/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-img {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-img {
  margin-right: 1.6rem;
}

/* .no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
} */

/* .no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
} */

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
