/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonials-container {
    padding: 6.4rem 3.2rem;
  }
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .testimonial-4 {
    grid-column: 2;
    grid-row: 2;
  }
  .testimonial-5 {
    grid-column: 1;
    grid-row: 3;
  }
  .testimonial-8 {
    grid-column: 2;
    grid-row: 4;
  }
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .section-testimonials {
    grid-template-columns: 45fr 45fr;
  }

  .testimonials-container {
    padding: 2.4rem 3.2rem;
  }
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .testimonial-4 {
    grid-column: 1;
  }
  .testimonial-8 {
    grid-column: 1;
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .featured-logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .step-img-box img {
    width: 30%;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .testimonial-4 {
    grid-column: 2;
    grid-row: 1;
  }
  .testimonial-5 {
    grid-column: 1;
    grid-row: 2;
  }
  .testimonial-8 {
    grid-column: 2;
    grid-row: 2;
  }
  .gallery-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}
