/* ************************ */
/* General Reusable styles */
/* ************************ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
body {
  color: #555;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.align-justify {
  text-align: justify;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-columns {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-columns {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-columns {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
  align-items: center;
}

/* .hero-primary-heading {
  color: #333;
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;

  margin-bottom: 3.2rem;
} */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  color: #cf711f;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: 0.3s ease;

  border: hidden;
  cursor: pointer;
}
.focused-btn:link,
.focused-btn:visited {
  background-color: #e67e22;
  color: white;
}
.focused-btn:hover,
.focused-btn:active {
  background-color: #cf711f;
}

.unfocused-btn:link,
.unfocused-btn:visited {
  background-color: white;
  color: #555;
}
.unfocused-btn:hover,
.unfocused-btn:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px white;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-icon {
  font-size: 3rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
