/*
1- TYPOGRAPHY SYSTEM
  - Font sizes (px) :  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  - Font weights Default = 400 --- 
  400
  500
  600
  700
  - Line heights : Default = 1 ---
   1.05 
   1.6 
  - Letter spacing 

2-Colors 
  -Primary #e67e22
  -Tints   #fdf2e9  #fae5d3
  -Shades  #cf711f
  -Accents 
  -Gray
#555
#333
3-Shadows

4-Border-Radius 
9px

5-White Spaces
  -Spacing System: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ************************ */
/* Header*/
/* ************************ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
}
.nav-logo {
  height: 2.2rem;
}
/* ************************ */
/* Navigation*/
/* ************************ */
.Khadra-effects {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.main-nav-list {
  list-style: none;
  display: block;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  transition: 0.3 ease;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.main-nav-link-cta:link,
.main-nav-link.main-nav-link-cta:visited {
  background-color: #e67e22;
  color: white;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.main-nav-link-cta:hover,
.main-nav-link.main-nav-link-cta:active {
  background-color: #cf711f;
}
/* ************************ */
/*Hero*/
/* ************************ */
.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;

  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-top: 8rem;
}
.delivered-img {
  display: flex;
}
.delivered-img img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-img img :last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/* ************************ */
/* Featured in*/
/* ************************ */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
  box-shadow: 0 0 25px rgba(248, 240, 232, 0.6);
}
.heading-featured-in {
  color: #888;
  letter-spacing: 0.75px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.featured-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.featured-logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* ************************ */
/* How It Work */
/* ************************ */
.how-works {
  padding: 9.6rem 0;
}
.step-number {
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img-box img {
  width: 40%;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.step-img-box::before {
  background-color: #fdf2e9;
  padding-bottom: 65%;
  width: 65%;
  z-index: -2;
}
.step-img-box::after {
  background-color: #fae5d3;
  padding-bottom: 50%;
  width: 50%;
  z-index: -1;
}
/* ************************ */
/* Meals Sections */
/* ************************ */
.meals-section {
  padding: 9.6rem 0;
}
.heading-secondary span {
  color: #c17533;
  font-size: 4.2rem;
  font-weight: 700;
}
.meal {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: 0.4s;
}
.meal:hover {
  transform: translateY(-1.4rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-img {
  width: 100%;
}
.meal-content {
  padding: 4.2rem;
  padding-top: 3.2rem;
}
.meal-tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}
.tag {
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 600;

  display: flex;
  align-items: center;
}
.meal-tag-vegetarian {
  background-color: #51cf66;
}
.meal-tag-Vegan {
  background-color: #94d82d;
}
.meal-tag-Paleo {
  background-color: #ffd43b;
}
.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
ion-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.diet-list {
  padding-left: 1.2rem;
}

.all-meals {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}
.link:link,
.link:visited {
  color: #e67e22;
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
/**************************/
/* TESTIMONIALS SECTION */
/**************************/
.section-testimonials {
  background-color: #fdf2e9;
  grid-template-columns: 55fr 45fr;
  display: grid;
  align-items: center;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial {
  display: flex;
  flex-direction: column;
}
.testimonial-img {
  align-self: center;
  display: block;
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}
.testimonial-text {
  text-align: justify;
  align-self: center;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  align-self: flex-start;
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
/**************************/
/* Pay-Plans*/
.pricing-section {
  padding: 9.6rem 0;
}
.pricing-plan {
  text-align: center;
  border-radius: 11px;
  width: 75%;
}
.pricing-plan--start {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--start ::after {
  background-color: #ffd43b;
  color: #111;
  text-transform: uppercase;
  content: "free trail";
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem 0rem 8rem;

  position: absolute;
  top: 6%;
  right: -18%;

  transform: rotate(45deg);
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  background-color: #51cf66;
  color: #111;
  text-transform: uppercase;
  content: "best value";
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;

  position: absolute;
  top: 6%;
  right: -18%;

  transform: rotate(45deg);
}
.x-mark {
  color: #e67e22;
  width: 2.4rem;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-left: 0.6rem;
}
.plan-description span {
  color: #c14b33;
  font-size: 1.4rem;
  font-weight: 500;
}
.plan-description {
  color: #6f6f6f;
  font-size: 1.6rem;
  line-height: 1.6;
}
.sign-action {
  margin-top: 4.8rem;
}

.additional-text {
  color: #444;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}
/**************************/
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-icon {
  display: block;
  font-size: 3.2rem;
  margin-bottom: 3.2rem;

  background-color: #fdf2e9;
  padding: 1.4rem;
  border-radius: 50%;
}
.feature-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.feature-text {
  /* width: 21rem; */
  width: 90%;
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.8;
}
/**************************/
/* Pay-Plans*/
.cta-section {
  padding: 9.6rem 0;
}
.cta {
  background-image: linear-gradient(to bottom right, #eea564, #e67e22);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 11px;
  height: 50rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-image {
  background-image: linear-gradient(
      to bottom right,
      rgba(238, 164, 99, 0.25),
      rgba(230, 125, 34, 0.3)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
/**************************/
